@model MusicStore.Models.Album

@{
    ViewData["Title"] = "Album";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<hr />
<div class="col-xs-6">
    <table class="details-table">
        <tr>
            <td colspan="2">
                <img class="details-image" src="/AlbumImages/@Html.DisplayFor(model => model.Picture) " />
            </td>
        </tr>
        <tr>
            <td class="details-title">@Html.DisplayNameFor(model => model.Artist)</td>
            <td class="details-data">@Html.DisplayFor(model => model.Artist.Name)</td>
        </tr>
        <tr>
            <td class="details-title">@Html.DisplayNameFor(model => model.Genre)</td>
            <td class="details-data">@Html.DisplayFor(model => model.Genre.Name)</td>
        </tr>
        <tr>
            <td class="details-title">@Html.DisplayNameFor(model => model.Year)</td>
            <td class="details-data">@Html.DisplayFor(model => model.Year)</td>
        </tr>
        <tr>
            <td class="details-title">@Html.DisplayNameFor(model => model.Price)</td>
            <td class="details-data">@Html.DisplayFor(model => model.Price)</td>
        </tr>
    </table>
</div>
<div class="songList col-xs-6">
    <table width="70%">
        <thead>
            <tr>
                <th width="10%"></th>
                <th width="80%">Name</th>
                <th width="10%">Duration</th>
            </tr>
         </thead>
        <tbody>
            @foreach (var song in Model.Songs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => song.Order)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => song.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => song.Duration)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="col-xs-12">
    
    @if (User.IsInRole("admin"))
    {
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span> | </span>
    }
    
</div>
