@model IEnumerable<MusicStore.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}


<form method="get" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#dynamicContent">

    <label>Filters</label>
    <div class="row">
        <div class="filt col-xs-3">
            <p>Album Name:</p>
            @Html.TextBox("albumName", "", new { })
        </div>

        <div class="filt col-xs-3">
            <p>Genre:</p>
            @Html.DropDownList("genreFilter", new SelectList(ViewBag.Genres), "Choose genre", new { @class = "form-control" })
        </div>

        <div class="filt col-xs-3">
            <p>Artist Nation:</p>
            @Html.TextBox("aritistNation", "", new { })
        </div>

        <div class="col-xs-1">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>

    </div>
</form>


    @Html.Partial("AlbumsList", Model)

