@model List<IGrouping<ArtistType, Artist>>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#dynamicContent">

    <label>Filters</label>
    <div class="row">
        <div class="filt col-xs-3">
            <p>Artist Name:</p>
            @Html.TextBox("artistName", "", new { })
        </div>

        <div class="filt col-xs-3">
            <p>Genre:</p>
            @Html.DropDownList("genreFilter", new SelectList(ViewBag.Genres), "Choose genre", new { @class = "form-control" })
        </div>

        <div class="filt col-xs-3">
            <p>Artist Nation:</p>
            @Html.TextBox("aritistNation", "", new { })
        </div>

        <div class="col-xs-1">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>

    </div>
</form>

@Html.Partial("ArtistsList", Model)