@model List<IGrouping<ArtistType, Artist>>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var group in Model)
{
    <table class="table">
        <thead>
            <tr>@Html.DisplayFor(modelItem => group.Key) Artists</tr>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Nationality
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in group)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nationality)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

